.footer-title {
  color: #4731d3;
}
.footer-text {
  color: black;
}
.footer-email {
  color: #4731d3;
  text-decoration: underline;
}
.footer-container {
  display: flex;
  justify-content: center;
}
.footer-content {
  text-align: center;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.social-icon {
  color: #4731d3;
}
.footer-social-media-icon {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.dark.footer-container {
  background-color: #252128;
}
.dark.footer-text {
  color: white;
}
.dark.footer-title {
  color: #8f88ff;
}
.dark.footer-email {
  color: #8f88ff;
}
.dark.social-icon {
  color: #8f88ff;
}
