.footer-title {
  color: #4731d3;
}
.footer-text {
  color: black;
}
.footer-email {
  color: #4731d3;
  text-decoration: underline;
}
.footer-container {
  display: flex;
  justify-content: center;
}
.footer-content {
  text-align: center;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}
