.hero {
  background: linear-gradient(
    to right,
    #4731d3 0%,
    #4731d3 75%,
    #cbf281 75%,
    #cbf281 100%
  );
  height: 55vh;
}
.hero-content-div {
  position: relative; /* or relative */
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  max-width: 70%;
}
.hero-tr-gec {
  position: relative; /* or relative */
  left: 70%;
  color: #cbf281;
  font-size: 8px;
  font-weight: bold;
}
.hero-darkmode-switch {
  position: relative; /* or relative */
  left: 76%;
  top: -7%;
  color: #4731d3;
}
.hero-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; /* or relative */
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  max-width: 70%;
}
.hero-tr-darkmode-container {
  display: flex;
  flex-direction: row;
  margin-right: 18%;
  gap: 2rem;
}

.dark.hero {
  background: linear-gradient(
    to right,
    #171043 0%,
    #171043 75%,
    #1a210b 75%,
    #1a210b 100%
  );
}
