.profile-container {
  display: flex;
  flex-direction: column;
  background-color: #4731d3;
}

span {
  color: #cbf281;
}
.profile-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-left: 15%;
  margin-bottom: 2rem;
}
.profile-container p {
  color: white;
  margin-top: 1rem;
}
h1 {
  color: white;
  margin-top: 0;
}
.profile-title h1 {
  color: #cbf281;
  font-size: 2rem;
  margin-left: 15%;
  margin-bottom: 2rem;
}
.profile-content-left {
  width: 34%;
  margin-left: 0;
}
.profile-content-right {
  width: 34%;
  margin-right: 0;
}
.profile-content-middle {
  width: 30%;
}
.profile-content-middle-img {
  border-radius: 10px;
  width: 100%;
}
.dark.profile-container {
  background-color: #171043;
}
