.projects--container--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.dark.projects--container--card--one {
  background-color: #2b2727;
}
.projects--container--card--one {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  background-color: white;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex: 1;
}

.projects--container--card--image {
  max-width: 360px;
  max-height: 360px;
  height: auto;
  border-radius: 10px;
}

.projects--container--card--one p {
  text-align: left;
  font-weight: bold;
  color: black;
  margin-top: 2rem;
  font-size: 16px;
}
.dark-theme.projects--container--card--one p {
  color: white;
}

.projects--container--card--one h1 {
  margin-top: 4rem;
  color: #4731d3;
  font-size: 32px;
}

.projects--container--buttons {
  display: flex;
  gap: 1rem; /* Add spacing between the buttons */
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.projects--container--link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #4731d3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.dark-theme.projects--container--link {
  color: #cbf281;
}
.projects--container--link:hover {
  background-color: #3626a7;
}

.dark.projects--container--card {
  background-color: #1a210b;
}
.dark p {
  color: white;
}
.dark a {
  color: #cbf281;
}
