.projects--container {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #cbf281;
}
.dark.projects--container {
  background-color: #1a210b;
}
.projects--container--box {
  margin: 5rem;
  width: 70%;
  height: auto;
}

.projects--container--title h1 {
  text-align: left;
  margin-bottom: 20px;
  color: #4731d3;
  font-size: 48px;
}
