.skills-container {
  display: flex;
  flex-grow: initial;
  flex-direction: row; /* Ensure the title and box are stacked */
  align-items: center; /* Center horizontally */
  margin: 0 auto; /* Center horizontally */
  width: fit-content; /* Adjust the width to fit the content */
  padding: 20px; /* Optional: Add padding for better appearance */
}

.skills-container-title {
  align-self: start;
  margin-right: 180px;
}
.skills-container-title h1 {
  color: black;
}
.skills-container-box {
  display: flex;
  flex-direction: column;
}
.skills-container-box-one {
  display: flex;
  flex-direction: row;
}
.skills-container-box-one p {
  color: black;
  align-self: center;
}
.skills-container-box-image {
  max-width: 120px;
  max-height: 120px;
  background-color: #03943f;
}
.skills-container.dark {
  background-color: #252128;
}
.root.dar {
  background-color: #252128;
}
