.skills {
  background-color: white;
}

.skills--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  padding: 20px;
}

.skills.dark {
  background-color: #252128;
  color: white;
}

.skills--container--title {
  align-self: start;
  margin-right: 180px;
}
.dark.skills--container--title--h1 {
  color: #cbf281;
}

.skills--container--title h1 {
  color: black;
}

.skills--container--box {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.skills--container--box--one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5rem;
}

.skills--container--box--one p {
  color: black;
  text-align: right; /* Align text to the right */
  align-self: center;
}

.skills.dark .skills--container--box--one p {
  color: white;
}

.skills--container--box--image {
  width: 120px;
  height: 120px;
  background-color: #038fd6;
}
